In [1]:
# renamings pandas to pd
import pandas as pd
import matplotlib.pyplot as pit
%matplotlib inline

In [12]:
# read csv file
# using a relative path
path = 'Data/pokemon_data.csv'
pokemon = pd.read_csv(path)

In [18]:
# dot notation
pokemon.sp_attack

0       65
1       80
2      122
3       60
4       80
      ...
796    107
797     59
798     97
799    127
800    130
Name: sp_attack, Length: 801, dtype: int64

In [13]:
# when we read the csv file, we get a DataFrame(ie data in 2dimensions)
type(pokemon)

pandas.core.frame.DataFrame

In [14]:
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

In [17]:
#loc() function allows me to locate a certain row
# pandas allows me to use indexing where instead of an index, we use a condition
pokemon.loc[pokemon.name == 'Pikachu']

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
24,"['Static', 'Lightningrod']",1.0,1.0,1.0,0.5,1.0,1.0,1.0,0.5,1.0,...,50.0,25,50,50,90,electric,NaN,6.0,1,0

In [20]:
print(int(pokemon.hp.max()))

255

In [26]:
# loc() function allows us to pull a certain attribute from the row
strong_pokemon = pokemon.loc[pokemon.hp == 255, 'name'].item()

In [25]:
strong_pokemon

'Blissey'

In [27]:
type(strong_pokemon)

str